.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust the z-index to a value that ensures it's above other elements */
  display: flex;
  animation: slideIn 0.4s ease-in-out;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  text-align: center;
  overflow: auto;
  position: relative;
}

.itemList {
  width: 100%;
  height: 17%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 13px;
  font-size: 23px;
}

.modal-enter {
  transform: translateY(-50%);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 1500ms, transform 1500ms ease-in-out;
}

.modal-exit {
  transform: translateY(0);
}

.modal-exit-active {
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 1500ms, transform 1500ms ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
